<a href="https://colab.research.google.com/github/gautham111/Amazon-ML-Challenge/blob/main/BrowseNodeClassification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import csv

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/dataset/train.csv",escapechar = "\\", quoting=csv.QUOTE_NONE)

In [ ]:
df.head()

                                               TITLE  ... BROWSE_NODE_ID
0         Pete The Cat Bedtime Blues Doll, 14.5 Inch  ...              0
1  The New Yorker NYHM014 Refrigerator Magnet, 2 ...  ...              1
2  The Ultimate Self-Sufficiency Handbook: A Comp...  ...              2
3   Amway Nutrilite Kids Chewable Iron Tablets (100)  ...              3
4  Teacher Planner Company A4 6 Lesson Academic T...  ...              4

[5 rows x 5 columns]

In [ ]:
import nltk
import re
nltk.download("wordnet")
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
def dataset_preprocess(text):

  # Convert to lower case
  if type(text) == str:
    text = text.lower() 
  
  # Clean HTML tags and punctuation
  cleanr = re.compile('<.*?>')
  cleantext = re.sub(cleanr, '', text)

  from nltk.tokenize import RegexpTokenizer
  tokenizer1 = RegexpTokenizer(r'\w+')
  text = " ".join(tokenizer1.tokenize(cleantext))

  # Remove stop words
  from nltk.corpus import stopwords
  from nltk.tokenize import word_tokenize
  stop_words = set(stopwords.words('english'))
  word_tokens = word_tokenize(text)
  filtered_sentence = [w for w in word_tokens if not w.lower() in stop_words]
  text = " ".join(filtered_sentence)

  #Lemmatization
  w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
  lemmatizer = nltk.stem.WordNetLemmatizer()
  text = " ".join([lemmatizer.lemmatize(w) for w in w_tokenizer.tokenize(text)])

  return text

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2903024 entries, 0 to 2903023
Data columns (total 5 columns):
 #   Column          Dtype
---  ------          -----
 0   TITLE           object
 1   DESCRIPTION     object
 2   BULLET_POINTS   object
 3   BRAND           object
 4   BROWSE_NODE_ID  int64
dtypes: int64(1), object(4)
memory usage: 110.7+ MB

In [ ]:
df["BROWSE_NODE_ID"].unique()

array([      0,       1,       2, ..., 2847632, 2860317, 2893574])

In [ ]:
len(df)

2903024

In [ ]:
df.columns

Index(['TITLE', 'DESCRIPTION', 'BULLET_POINTS', 'BRAND', 'BROWSE_NODE_ID'], dtype='object')

In [ ]:
unique_df = df.dropna(axis = 0)

In [ ]:
len(unique_df)

2110586

In [ ]:
unique_df.head()

                                               TITLE  ... BROWSE_NODE_ID
0         Pete The Cat Bedtime Blues Doll, 14.5 Inch  ...              0
1  The New Yorker NYHM014 Refrigerator Magnet, 2 ...  ...              1
5  Men'S Full Sleeve Raglan T-Shirts Denim T-Shir...  ...              5
6              Glance Women's Wallet (Black) (LW-21)  ...              6
7  Wild Animals Hungry Brain Educational Flash Ca...  ...              7

[5 rows x 5 columns]

In [ ]:
unique_df["DESCRIPTION"] = unique_df["DESCRIPTION"].apply(dataset_preprocess)
print(1)
unique_df["TITLE"] = unique_df["TITLE"].apply(dataset_preprocess)
print(2)
unique_df["BULLET_POINTS"] = unique_df["BULLET_POINTS"].apply(dataset_preprocess)

In [ ]:
unique_df.head(10)

                                                TITLE  ... BROWSE_NODE_ID
0           Pete The Cat Bedtime Blues Doll 14 5 Inch  ...              0
1   The New Yorker NYHM014 Refrigerator Magnet 2 x...  ...              1
5   Men S Full Sleeve Raglan T Shirts Denim T Shir...  ...              5
6                   Glance Women s Wallet Black LW 21  ...              6
7   Wild Animals Hungry Brain Educational Flash Ca...  ...              7
8   Hindi Barakhadi Educational Flash Cards for Ki...  ...              7
11  White Braun KF400 WH Aromaster 10 Cup Coffeema...  ...             11
14   Jiffy Steamer with Plastic Steam Head Beige 120V  ...             14
16  OXO Good Grips BPA Free Turkey Baster with Cle...  ...             16
18  Westcott 5684 5 x 6 Feet Collapsible Backdrop ...  ...             18

[10 rows x 5 columns]

In [ ]:
len(unique_df)

2110586

In [ ]:
unique_df.to_csv("/content/drive/MyDrive/Amazon_ML_Challenge/cleaned_train.csv")

In [ ]:
unique_df = pd.read_csv("/content/drive/MyDrive/Amazon_ML_Challenge/cleaned_train.csv").drop("Unnamed: 0",axis = 1)

In [ ]:
X = unique_df.drop("BROWSE_NODE_ID",axis = 1)

In [ ]:
X.astype(str)

                                                     TITLE  ...              BRAND
0                Pete The Cat Bedtime Blues Doll 14 5 Inch  ...        MerryMakers
1        The New Yorker NYHM014 Refrigerator Magnet 2 x...  ...     The New Yorker
2        Men S Full Sleeve Raglan T Shirts Denim T Shir...  ...  Bhavya Enterprise
3                        Glance Women s Wallet Black LW 21  ...             Glance
4        Wild Animals Hungry Brain Educational Flash Ca...  ...       hungry brain
...                                                    ...  ...                ...
2110581  The NXT LVL Liquid Silicone Soft Back Cover Ca...  ...            Generic
2110582  Premium Aviator Sunglasses HD Polarized Bright...  ...            Generic
2110583  Social Distance Stickers Set of 5 Sticker Slip...  ...            Generic
2110584  Torr to Face Shield PACK OF 5 with Adjustable ...  ...            TORR-TO
2110585  Type C to 3 5 MM for Oppo R17 Pro Type C to 3 ...  ...           SHOPBELL

[2110586 rows x 4 columns]

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Amazon_ML_Challenge/cleaned_train.csv").drop("Unnamed: 0",axis = 1).dropna(axis = 0)

In [ ]:
df = df.applymap(lambda s: s.lower() if type(s) == str else s)

In [ ]:
X = df.drop("BROWSE_NODE_ID",axis = 1)

In [ ]:
y = df["BROWSE_NODE_ID"]

In [ ]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
stop_words = set(stopwords.words('english'))
def remove_stop_words(text):
  word_tokens = word_tokenize(text)
  filtered_sentence = [w for w in word_tokens if not w.lower() in stop_words]
  text = " ".join(filtered_sentence)
  return text

In [ ]:
X = X.apply(" ".join, axis = 1)

In [ ]:
X = X.apply(remove_stop_words)

In [ ]:
X.to_csv("/content/drive/MyDrive/Amazon_ML_Challenge/X.csv")
y.to_csv("/content/drive/MyDrive/Amazon_ML_Challenge/y.csv")

In [ ]:
X_NaN = pd.read_csv("/content/drive/MyDrive/Amazon_ML_Challenge/X_NaN.csv")

In [ ]:
X_NaN.columns = ["INPUT"]

In [ ]:
y_NaN = pd.read_csv("/content/drive/MyDrive/Amazon_ML_Challenge/Y_NaN.csv")

In [ ]:
y_NaN.columns = ["BROWSE_NODE_ID"]

In [ ]:
X_final = pd.concat([X,X_NaN],axis = 0)

In [ ]:
y_final = pd.concat([y,y_NaN],axis = 0)

In [ ]:
X_final.to_csv("/content/drive/MyDrive/Amazon_ML_Challenge/X_final.csv")
y_final.to_csv("/content/drive/MyDrive/Amazon_ML_Challenge/y_final.csv")

In [ ]:
y_final.isna().sum()

BROWSE_NODE_ID    0
dtype: int64

In [ ]:
data = pd.concat([X,y],axis = 1)
data.columns = ["INPUT","BROWSE_NODE_ID"]

In [ ]:
data.head()

                                               INPUT  BROWSE_NODE_ID
0  pete cat bedtime blues doll 14 5 inch pete cat...               0
1  new yorker nyhm014 refrigerator magnet 2 x 3 5...               1
2  men full sleeve raglan shirts denim shirt size...               5
3  glance women wallet black lw 21 black wallet g...               6
4  wild animals hungry brain educational flash ca...               7

In [ ]:
temp = data.groupby(["BROWSE_NODE_ID"]).size()
temp

BROWSE_NODE_ID
0           1655
1           1659
3            239
4          11090
5          44470
           ...
2779346        1
2801478        1
2801983        1
2847632        1
2893574        1
Length: 9635, dtype: int64

In [ ]:
index_list = []
for i in temp.index:
  if temp[i] > 2:
    index_list.append(i)

In [ ]:
for i in data.index:
  if data["BROWSE_NODE_ID"][i] not in index_list:
    data.drop(i,axis = 0,inplace = True)

In [ ]:
data.to_csv("/content/drive/MyDrive/Amazon_ML_Challenge/data.csv")

In [ ]:
# X.csv --- y.csv

In [ ]:
X = pd.read_csv("/content/drive/MyDrive/Amazon_ML_Challenge/X.csv").drop("Unnamed: 0",axis = 1)

In [ ]:
X.columns = ["INPUT"]

In [ ]:
y = pd.read_csv("/content/drive/MyDrive/Amazon_ML_Challenge/y.csv")

In [ ]:
y.drop("Unnamed: 0",axis = 1,inplace=True)

In [ ]:
X["INPUT"] = X["INPUT"].apply(lemmatize)

In [ ]:
X.to_csv("/content/drive/MyDrive/Amazon_ML_Challenge/X.csv")

In [ ]:
y.to_csv("/content/drive/MyDrive/Amazon_ML_Challenge/y.csv")

In [ ]:
# DATA.CSV --> 31.07.2021

In [ ]:
w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
lemmatizer = nltk.stem.WordNetLemmatizer()
def lemmatize(text):
  text = " ".join([lemmatizer.lemmatize(w) for w in w_tokenizer.tokenize(text)])
  return text

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/Amazon_ML_Challenge/data.csv")
data.drop("Unnamed: 0",axis = 1,inplace=True)

In [ ]:
data.head()

                                               INPUT  BROWSE_NODE_ID
0  men full sleeve raglan shirts denim shirt size...               5
1  oxo good grips bpa free turkey baster cleaning...              16
2  hyper dog launcher replacement pouch hyper dog...              45
3  glacier wooden boomerang kids 8 18 glacier woo...              68
4  mitutoyo 570 313 hds digimatic height gage 18 ...              78

In [ ]:
data["INPUT"] = data["INPUT"].apply(lemmatize)

In [ ]:
data.to_csv("/content/drive/MyDrive/Amazon_ML_Challenge/data.csv")

In [ ]:
from collections import Counter
counter = Counter(data["BROWSE_NODE_ID"])
y = data["BROWSE_NODE_ID"]
for k,v in counter.items():
	per = v / len(y) * 100
	print('Class=%d, n=%d (%.3f%%)' % (k, v, per))

In [ ]:
len(counter.items())

8524

In [ ]:
X = data.drop("BROWSE_NODE_ID",axis = 1)
y = data["BROWSE_NODE_ID"]

In [ ]:
# Oversampling using SMOTE

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/Amazon_ML_Challenge/data.csv")
data.drop("Unnamed: 0",axis = 1,inplace=True)

In [ ]:
from imblearn.pipeline import Pipeline, make_pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from imblearn.over_sampling import SMOTE
from sklearn.linear_model import SGDClassifier

In [ ]:
X_final = pd.read_csv("/content/drive/MyDrive/Amazon_ML_Challenge/X_final.csv").drop("Unnamed: 0", axis = 1)

In [ ]:
y_final = pd.read_csv("/content/drive/MyDrive/Amazon_ML_Challenge/y_final.csv").drop("Unnamed: 0", axis = 1)

In [ ]:
textclassifier =Pipeline([
  ('vect', CountVectorizer()),
   ('tfidf', TfidfTransformer()),
   ('clf', SGDClassifier(loss='hinge', penalty='l2',alpha=1e-3, random_state=101, max_iter=5, tol=None, verbose=1))
])

In [ ]:
textclassifier.fit(np.squeeze(X_final),np.squeeze(y_final))

In [ ]:
y_final.shape

(2794929, 1)

In [ ]:
# # Stratified Train Test Split
# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.05, random_state = 42, shuffle = True, stratify=y)

In [ ]:
train_df = pd.concat([X_train,y_train],axis = 1)
test_df = pd.concat([X_test,y_test],axis = 1)

In [ ]:
test_df = pd.concat([X_test,y_test],axis = 1)

In [ ]:
train_df["BROWSE_NODE_ID"] = "__label__" + df["BROWSE_NODE_ID"].map(str)

In [ ]:
X = df.drop("BROWSE_NODE_ID",axis = 1)
y = df["BROWSE_NODE_ID"]

In [ ]:
train_df["input"] = train_df["BROWSE_NODE_ID"] + " " + train_df["INPUT"]
train_df = train_df.drop(["INPUT","BROWSE_NODE_ID"],axis = 1)

In [ ]:
test_df.head()

                                                     INPUT  BROWSE_NODE_ID
1097365  walk com pubg double colour slipper kids grey ...            8346
1791140  glasgow hammer proof tempered glass oneplus 3t...             374
567263   designer anarkali suit silk satin women ethnic...            1486
558906   toriox multifunctional double head cleaning br...            5112
2039144  colors blends men cotton round neck raw edges ...               5

In [ ]:
# This is the input data form that fasttext expects
test_df["BROWSE_NODE_ID"] = "__label__" + test_df["BROWSE_NODE_ID"].map(str)
test_df["input"] = test_df["BROWSE_NODE_ID"] + " " + test_df["INPUT"]
test_df = test_df.drop(["BROWSE_NODE_ID","INPUT"],axis = 1)

In [ ]:
test_df.head()

                                                     input
1097365  __label__8346 walk com pubg double colour slip...
1791140  __label__374 glasgow hammer proof tempered gla...
567263   __label__1486 designer anarkali suit silk sati...
558906   __label__5112 toriox multifunctional double he...
2039144  __label__5 colors blends men cotton round neck...

In [ ]:
train_df.to_csv("/content/drive/MyDrive/Amazon_ML_Challenge/trn_df.csv",index=False)
test_df.to_csv("/content/drive/MyDrive/Amazon_ML_Challenge/tst_df.csv",index=False)

In [ ]:
test_df.to_csv("/content/drive/MyDrive/Amazon_ML_Challenge/tst_df.csv",index=False)

In [ ]:
df.head()

                                               input
0  __label__0 pete the cat bedtime blues doll 14 ...
1  __label__1 the new yorker nyhm014 refrigerator...
2  __label__5 men s full sleeve raglan t shirts d...
3  __label__6 glance women s wallet black lw 21 t...
4  __label__7 wild animals hungry brain education...

In [ ]:
df.to_csv("/content/drive/MyDrive/Amazon_ML_Challenge/fasttext_input.csv")

# TEST SET IMPORT AND PREPROCESS

In [ ]:
from nltk.tokenize import RegexpTokenizer
def clean_html_punct(text):
  if type(text) == str:
    text = text.lower() 
  cleanr = re.compile('<.*?>')
  cleantext = re.sub(cleanr, '', text)
  tokenizer1 = RegexpTokenizer(r'\w+')
  text = " ".join(tokenizer1.tokenize(text))
  return text

In [ ]:
dataframe = pd.read_csv("/content/drive/MyDrive/Amazon_ML_Challenge/dataset/test.csv",escapechar = "\\", quoting=csv.QUOTE_NONE)

In [ ]:
temp = dataframe.drop(["PRODUCT_ID"],axis = 1)

In [ ]:
temp = temp.fillna("")

In [ ]:
temp["input"] = temp["TITLE"] + " " + temp["DESCRIPTION"] +  " " + temp["BULLET_POINTS"] + " " + temp["BRAND"]

In [ ]:
temp = temp.drop(["TITLE","DESCRIPTION","BULLET_POINTS","BRAND"],axis = 1)

In [ ]:
temp.head()

                                               input
0  Command 3M Small Kitchen Hooks, White, Decorat...
1  O'Neal Jump Hardware JAG Unisex-Adult Glove (B...
2  NFL Detroit Lions Portable Party Fridge, 15.8 ...
3  Panasonic Single Line KX-TS880MX Corded Phone ...
4  Zero Baby Girl's 100% Cotton Innerwear Bloomer...

In [ ]:
temp = temp["input"].apply(clean_html_punct)

In [ ]:
temp.to_csv("/content/drive/MyDrive/Amazon_ML_Challenge/final_test_data.csv",index=False)

In [ ]:
!pip install fasttext

Collecting fasttext
  Downloading fasttext-0.9.2.tar.gz (68 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 68 kB 3.1 MB/s
ERROR: Operation cancelled by user

In [ ]:
X.to_csv("/content/drive/MyDrive/Colab Notebooks/X.csv")
y.to_csv("/content/drive/MyDrive/Colab Notebooks/y.csv")

# SVM

In [ ]:
# Baseline Model

In [ ]:
from sklearn.linear_model import SGDClassifier
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.linear_model import SGDClassifier
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,accuracy_score

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X[:int(len(X)/2)], y[:int(len(y)/2)], test_size=0.25, random_state = 42, shuffle = False)

sgd = Pipeline([('vect', CountVectorizer()),
                ('tfidf', TfidfTransformer()),
                ('clf', SGDClassifier(loss='hinge', penalty='l2',alpha=1e-3, random_state=101, max_iter=5, tol=None, verbose=1)),
               ])
sgd.fit(np.squeeze(X_train), y_train)

In [ ]:
y_pred = sgd.predict(np.squeeze(X_test))
print('accuracy %s' % accuracy_score(y_pred, y_test))
print(classification_report(y_test, y_pred))

In [ ]:
# Undersampling

In [ ]:
# TOMELINKS

In [ ]:
X_final = pd.read_csv("/content/drive/MyDrive/Amazon_ML_Challenge/X_final.csv").drop("Unnamed: 0", axis = 1)
y_final = pd.read_csv("/content/drive/MyDrive/Amazon_ML_Challenge/y_final.csv").drop("Unnamed: 0", axis = 1)

In [ ]:
y_final["BROWSE_NODE_ID"].value_counts()

1045       215180
5           69337
1251        51289
1052        44842
1295        31944
            ...
1199245         1
103926          1
1695224         1
2182613         1
81712           1
Name: BROWSE_NODE_ID, Length: 9891, dtype: int64

In [ ]:
X_temp = X_final[:10000]
y_temp = y_final[:10000]

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
df = pd.concat([X_final,y_final],axis = 1)

In [ ]:
df = df.groupby("BROWSE_NODE_ID").filter(lambda x: len(x)>6)

In [ ]:
df["BROWSE_NODE_ID"].value_counts()

1045    931
5       211
1052    162
1295    152
374     151
       ...
5932      7
405       7
1011      7
1318      7
2003      7
Name: BROWSE_NODE_ID, Length: 267, dtype: int64

In [ ]:
X_temp = df["INPUT"]
y_temp = df["BROWSE_NODE_ID"]

In [ ]:
tfidf_vect = TfidfVectorizer(analyzer='word', token_pattern=r'\w', max_features=None)
tfidf_vect.fit(X_temp)
xtrain_tfidf =  tfidf_vect.transform(X_temp)

In [ ]:
xtrain_tfidf.shape

(6319, 105)

In [ ]:
from imblearn.under_sampling import TomekLinks
trans = TomekLinks(ratio='all',sampling_strategy='not minority')
X_resampled1, y_resampled1 = trans.fit_sample(xtrain_tfidf, np.squeeze(y_temp))

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
pd.DataFrame(y_resampled1)[0].value_counts()

1045     908
5        185
1052     151
374      140
1295     139
        ...
6016       1
12152      1
10105      1
6015       1
3906       1
Name: 0, Length: 2074, dtype: int64

In [ ]:
pd.DataFrame(y_resampled1)[0].nunique()

2074

In [ ]:
# NearMiss

In [ ]:
from imblearn.under_sampling import NearMiss
trans = NearMiss(version=1,sampling_strategy='not minority',n_neighbors=1)
X_resampled2, y_resampled2 = trans.fit_sample(xtrain_tfidf, y_temp)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
pd.DataFrame(y_resampled2)[0].value_counts()

6143     1
1236     1
6828     1
1248     1
1246     1
        ..
12463    1
615      1
8809     1
6762     1
0        1
Name: 0, Length: 2188, dtype: int64

In [ ]:
#Edited Nearest Neighbours

In [ ]:
from imblearn.under_sampling import EditedNearestNeighbours
trans = EditedNearestNeighbours(sampling_strategy='not minority',kind_sel = "all")
X_resampled3, y_resampled3 = trans.fit_sample(xtrain_tfidf, y_temp)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
pd.DataFrame(y_resampled3)[0].value_counts()

In [ ]:
y_temp["BROWSE_NODE_ID"].nunique()

2188

In [ ]:
# SMOTEENN

In [ ]:
from collections import Counter
counter = Counter(df["BROWSE_NODE_ID"])

In [ ]:
df["BROWSE_NODE_ID"].value_counts()

1045    931
5       211
1052    162
1295    152
374     151
       ...
5932      7
405       7
1011      7
1318      7
2003      7
Name: BROWSE_NODE_ID, Length: 267, dtype: int64

In [ ]:
counter = dict(counter)

In [ ]:
counter

In [ ]:
temp = list(df[(df["BROWSE_NODE_ID"]>6)&(df["BROWSE_NODE_ID"]<200)]["BROWSE_NODE_ID"].unique())

In [ ]:
smote_dict = dict.fromkeys(temp,200)

In [ ]:
smote_dict

In [ ]:
from imblearn.over_sampling import SMOTE
trans = SMOTE(sampling_strategy= smote_dict)
X_resampled1, y_resampled1 = trans.fit_sample(xtrain_tfidf, np.squeeze(y_temp))

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
X_resampled1.shape

(10969, 105)

In [ ]:
type(X_resampled1)

scipy.sparse.csr.csr_matrix

(6319,)

In [ ]:
from imblearn.under_sampling import RandomUnderSampler
rus = RandomUnderSampler(random_state = 42)
X_rus, y_rus = rus.fit_resample(X_final,y_final)

KeyboardInterrupt: ignored

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
#from sklearn.metrics import jaccard_score

def get_jaccard_sim(str1, str2): 
    a = set(str1.split()) 
    b = set(str2.split())
    c = a.intersection(b)
    return float(len(c)) / (len(a) + len(b) - len(c))

a = "I love AI"
b = "I hate ML"
get_jaccard_sim(a,b)

0.2

In [ ]:
from imblearn.under_sampling import CondensedNearestNeighbour
cnn = CondensedNearestNeighbour(random_state = 42, n_neighbors = 3)
cnn.fit_resample(X_temp,y_temp)

In [ ]:
for k,v in counter.items():
  if v <= 6:
    del counter[k]

In [ ]:
len(counter)

TypeError: ignored

In [ ]:
X_final = pd.read_csv("/content/drive/MyDrive/Amazon_ML_Challenge/X_final.csv").drop("Unnamed: 0",axis = 1)
y_final = pd.read_csv("/content/drive/MyDrive/Amazon_ML_Challenge/y_final.csv").drop("Unnamed: 0",axis = 1)

In [ ]:
df = pd.concat([X_final,y_final],axis = 1)
df.columns = ["INPUT","BROWSE_NODE_ID"]

In [ ]:
count = df["BROWSE_NODE_ID"].value_counts()

In [ ]:
len(np.unique(df["BROWSE_NODE_ID"]))

9891

In [ ]:
d = dict(count)

In [ ]:
arr = sorted(d.items(), key=lambda x: x[1], reverse=True)

In [ ]:
arr[int(len(arr)/6)]

(304, 196)

In [ ]:
majority_labels = (y_final.groupby("BROWSE_NODE_ID").filter(lambda x: len(x) > 145))["BROWSE_NODE_ID"].unique()

In [ ]:
minority_labels = (y_final.groupby("BROWSE_NODE_ID").filter(lambda x: len(x) < 196 ))["BROWSE_NODE_ID"].unique()

In [ ]:
majority_indices = y_final[y_final["BROWSE_NODE_ID"].isin(majority_labels)].index

In [ ]:
minority_indices = y_final[y_final["BROWSE_NODE_ID"].isin(minority_labels)].index

In [ ]:
minority_indices

In [ ]:
majority_input = df.iloc[majority_indices]

In [ ]:
majority_input["INPUT"] = "__label__" + majority_input["BROWSE_NODE_ID"].map(str) + " " + majority_input["INPUT"].map(str)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
majority_input.drop("BROWSE_NODE_ID",axis = 1,inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
majority_input.to_csv("/content/drive/MyDrive/Amazon_ML_Challenge/majority_input.csv",header=False,index=False)

In [ ]:
minority_input = df.iloc[minority_indices]
minority_input["INPUT"] = "__label__" + minority_input["BROWSE_NODE_ID"].map(str) + " " + minority_input["INPUT"].map(str)
minority_input.drop("BROWSE_NODE_ID",axis = 1,inplace=True)
minority_input.to_csv("/content/drive/MyDrive/Amazon_ML_Challenge/minority_input.csv",header=False,index=False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
majority_df = pd.read_csv("/content/drive/MyDrive/Amazon_ML_Challenge/majority_predictions.txt", sep = " ",header=None)

In [ ]:
majority_df.head()

               0         1
0  __label__1140  0.651365
1  __label__2321  0.256842
2    __label__11  0.031154
3   __label__125  0.987578
4  __label__7644  0.826722

In [ ]:
minority_df = pd.read_csv("/content/drive/MyDrive/Amazon_ML_Challenge/minority_predictions.txt", sep = " ",header=None)

In [ ]:
minority_df.head()

                0         1
0   __label__1000  0.144159
1  __label__37798  0.055015
2  __label__58420  0.004080
3  __label__20919  0.095359
4  __label__23360  0.348655

In [ ]:
minority_df.columns = ["LABEL", "PROB"]
majority_df.columns = ["LABEL", "PROB"]

In [ ]:
final_pred = []
for i in range(len(majority_pred)):
  if majority_pred["PROB"][i] >= minority_pred["PROB"][i]:
    final_pred.append(majority_pred["LABEL"][i])
  else:
    final_pred.append(minority_pred["LABEL"][i])

In [ ]:
final_pred_df = pd.DataFrame(final_pred)

In [ ]:
final_pred_df

            0
0        1140
1        2321
2          11
3         125
4        7644
...       ...
110770   4368
110771  13568
110772    800
110773    800
110774    800

[110775 rows x 1 columns]

In [ ]:
final_pred_df[0] = final_pred_df[0].str[9:]

In [ ]:
final_pred_df.columns = ["BROWSE_NODE_ID"]

In [ ]:
from imblearn.combine import SMOTEENN
from imblearn.over_sampling import SMOTE
trans = SMOTEENN(sampling_strategy='all', random_state = 42,smote = SMOTE())
X_resampled4, y_resampled4 = trans.fit_sample(xtrain_tfidf, y_temp)

In [ ]:
# Fasttext Model on terminal

In [ ]:
./fasttext supervised -input ../trn_df.txt -output model_pbnc -loss hs -lr 0.5 -epoch 90
./fasttext test model_pbnc.bin ../tst_df.txt
./fasttext predict model_pbnc.bin ../final_test_data.txt > ../final_predictions.txt

In [ ]:
# Preparing Output for Submission

In [ ]:
#test = pd.read_csv("/content/drive/MyDrive/Amazon_ML_Challenge/final_predictions4.txt",sep="\n",header=None)
final_submission = pd.concat([test_set["PRODUCT_ID"],final_pred_df[0]],axis = 1)
final_submission.columns = ["PRODUCT_ID","BROWSE_NODE_ID"]

In [ ]:
final_submission.head()

   PRODUCT_ID BROWSE_NODE_ID
0           1           1140
1           2           2321
2           3             11
3           4            125
4           5           7644

In [ ]:
final_submission.to_csv("/content/drive/MyDrive/Amazon_ML_Challenge/final_submission9.csv",index = False)

In [ ]:
# SUBMISSION 2 --> 31.07.2021

In [ ]:
# Also considered all the NaN rows for training. Performed lemmatization as well. Along with a stratified train test split approach

In [ ]:
test_set = pd.read_csv("/content/drive/MyDrive/Amazon_ML_Challenge/test.csv",escapechar = "\\", quoting=csv.QUOTE_NONE)

In [ ]:
test_set.head()

   PRODUCT_ID  ...           BRAND
0           1  ...         Command
1           2  ...          O'Neal
2           3  ...  Boelter Brands
3           4  ...       Panasonic
4           5  ...            Zero

[5 rows x 5 columns]

In [ ]:
temp = test_set.drop(["PRODUCT_ID"],axis = 1)

In [ ]:
temp = temp.fillna("")

In [ ]:
temp["input"] = temp["TITLE"] + " " + temp["DESCRIPTION"] +  " " + temp["BULLET_POINTS"] + " " + temp["BRAND"]

In [ ]:
temp = temp.drop(["TITLE","DESCRIPTION","BULLET_POINTS","BRAND"],axis = 1)

In [ ]:
temp.head()

                                               input
0  Command 3M Small Kitchen Hooks, White, Decorat...
1  O'Neal Jump Hardware JAG Unisex-Adult Glove (B...
2  NFL Detroit Lions Portable Party Fridge, 15.8 ...
3  Panasonic Single Line KX-TS880MX Corded Phone ...
4  Zero Baby Girl's 100% Cotton Innerwear Bloomer...

In [ ]:
import re

In [ ]:
temp["input"] = temp["input"].apply(clean_html_punct)

In [ ]:
temp.head()

                                               TITLE  ...           BRAND
0  Command 3M Small Kitchen Hooks, White, Decorat...  ...         Command
1  O'Neal Jump Hardware JAG Unisex-Adult Glove (B...  ...          O'Neal
2  NFL Detroit Lions Portable Party Fridge, 15.8 ...  ...  Boelter Brands
3  Panasonic Single Line KX-TS880MX Corded Phone ...  ...       Panasonic
4  Zero Baby Girl's 100% Cotton Innerwear Bloomer...  ...            Zero

[5 rows x 4 columns]

In [ ]:
temp["input"] = temp["input"].apply(remove_stop_words)

In [ ]:
temp["input"] = temp["input"].apply(lemmatize)

In [ ]:
temp.to_csv("/content/drive/MyDrive/Amazon_ML_Challenge/test_set.csv",header=False,index=False)

In [ ]:
len(temp)

110775

In [ ]:
#test = pd.read_csv("/content/drive/MyDrive/Amazon_ML_Challenge/predictions.txt",sep="\n",header=None)
final_submission = pd.concat([test_set["PRODUCT_ID"],final_pred_df["BROWSE_NODE_ID"]],axis = 1)
final_submission.columns = ["PRODUCT_ID","BROWSE_NODE_ID"]

In [ ]:
final_submission.head()

   PRODUCT_ID BROWSE_NODE_ID
0           1           1140
1           2           2321
2           3             11
3           4            125
4           5           7644

In [ ]:
final_submission.to_csv("/content/drive/MyDrive/Amazon_ML_Challenge/final_submission7.csv",index = False)

In [ ]:
best_pred_df = pd.read_csv("/content/drive/MyDrive/Amazon_ML_Challenge/best_pred.txt")

In [ ]:
best_pred_df.head()

   PRODUCT_ID  BROWSE_NODE_ID
0           1            1140
1           2            3329
2           3             113
3           4             125
4           5            7644

In [ ]:
majority_pred = pd.read_csv("/content/drive/MyDrive/Amazon_ML_Challenge/majority_predictions.txt",sep=" ",header=None)

In [ ]:
majority_pred[0] = majority_pred[0].str[9:]

In [ ]:
majority_pred.columns = ["LABEL","PROB"]

In [ ]:
majority_pred.head()
majority_pred["LABEL"] = majority_pred["LABEL"].apply(labmda x: int(x) )

SyntaxError: ignored

In [ ]:
minority_pred = pd.read_csv("/content/drive/MyDrive/Amazon_ML_Challenge/minority_predictions.txt",sep=" ",header=None)
minority_pred[0] = minority_pred[0].str[9:]
minority_pred.columns = ["LABEL","PROB"]
minority_pred.head()

   LABEL      PROB
0   1000  0.144159
1  37798  0.055015
2  58420  0.004080
3  20919  0.095359
4  23360  0.348655

In [ ]:
ground_truth = []
for i in range(len(majority_pred)):
  if majority_pred["PROB"][i]>=minority_pred["PROB"][i]:
          temp = majority_pred["LABEL"][i]
  else:
          temp = minority_pred["LABEL"][i]
  if temp == str(best_pred_df["BROWSE_NODE_ID"][i]):
          ground_truth.append("SAME")
  elif majority_pred["PROB"][i]>=minority_pred["PROB"][i]:
          ground_truth.append("Majority")
  else:
          ground_truth.append("Minority")

In [ ]:
maj = 0
min = 0
same = 0
for i in range(len(ground_truth)):
  if ground_truth[i] == "Majority":
    maj += 1
  elif ground_truth[i] == "Minority":
    min += 1
  elif ground_truth[i] == "SAME":
    same += 1

In [ ]:
int("1")

1

In [ ]:
majority_pred["LABEL"][0]

str

In [ ]:
len(ground_truth)

110775

In [ ]:
maj

20207

In [ ]:
min

9907

In [ ]:
same

80661

In [ ]:
for i in range(len(ground_truth)):
  if ground_truth[i] == "Minority":
    final_pred[i] = str(best_pred_df["BROWSE_NODE_ID"][i])